/*
 *= require_bootstrap-sprockets
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'ionicons';

body {
  height: 100%;
  margin: 0;  
  background-image: url('binding_light.png');
}

.devise-links a {
  color: gray;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.devise-links a:hover {
  color: black;
  text-decoration: none;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.devise-forms {
  background-color: rgba(210, 210, 210, .9);
  margin: 0 auto;
  width: 33.3%;
  padding: 2%;
  margin-top: 3em;
  margin-bottom: 3em;
  border: 1px solid gray;
  border-left: 3px solid gray;
  border-right: 3px solid gray;
  border-radius: 0 10%;
  box-shadow: 2px;
}

.devise-forms  h2, a, div, em {
  width: 100%;
}

.devise-forms form {
  width: 66.7%;
  margin: 0 auto;
}

em {
  opacity: .3;
}

.field {
  width: 100%;
}

.devise-forms .input-field {
  background: transparent;
  border: 0;
  border-bottom: 2px solid black;
  border-top: 2px solid rgba(1, 1, 1, 0);
  width: 100%;
  padding-left: .2em;
  margin-bottom: 1em;
  -webkit-transition: border .4s ease, background .2s ease .3s;
  transition: border .4s ease, background .2s ease .3s;
}

.devise-forms .input-field:focus {
  outline: none;
  border-top: 2px solid black;
  border-bottom: 2px solid rgba(1, 1, 1, 0);
  background-color: rgba(1, 1, 1, .1);
  -webkit-transition: border .4s ease, background .2s ease .3s;
  transition: border .4s ease, background .2s ease .3s;
}

.devise-forms .input-label {
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.devise-forms .input-field:focus + .input-label {
  opacity: 1;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.devise-forms .actions {
  text-align: center;
}

.actions input[type=submit] {
  background: transparent;
  border: 0;
  border-bottom: 2px solid rgba(1, 1, 1, .7);
  border-right: 3px solid rgba(1, 1, 1, 0);
  border-left: 3px solid rgba(1, 1, 1, 0);
  -webkit-transition: border .3s;
  transition: border .3s;
}

.actions input[type=submit]:hover {
  border-bottom: 2px solid rgba(1, 1, 1, 0);
  border-right: 3px solid black;
  border-left: 3px solid black;
  -webkit-transition: border .3s;
  transition: border .3s;
}

.welcome-carousel {
  border: 2px solid rgba(1, 1, 1, .5);
  margin: 0 auto;
  width: 80%;
  height: 400px;
  align-items: center;
  color: white;
  box-shadow: 2px 1px 5px 2px black;
  background: url('use_your_illusion.png');
}

.welcome-carousel::after {
  content: '';
  background-image: url('binding_light.png');
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .7;
  z-index: -1;
}

.center {
  margin: auto auto;
  text-align: center;
  top: 25%;
}

.carousel-indicators  li {
  border-radius: 0;
  width: 2.4em;
  height: .5em;
  border-color: white;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.carousel-indicators  li.active {
  border-radius: 50%;
  size: 110%;
  background-color: rgba(128, 10, 10, 0.46);
}

.container-full {
  height: 100%;
}

.carousel-control-left {
  top: 0;
  bottom: 0;
  width: 15%;
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 5%;
  margin-bottom: 0;
  -webkit-transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
}

.carousel-control-right {
  top: 0;
  bottom: 0;
  right: 0;
  width: 15%;
  align-items: center;
  position: absolute;
  display: flex;
  margin-bottom: 0;
  text-align: center;
  padding: 0 5%;
  -webkit-transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
}

.carousel-control-left:hover {
  background-color: rgba(0, 0, 0, .5);
}

.carousel-control-right:hover {
  background-color: rgba(0, 0, 0, .5);
}

.glyphicon.glyphicon-chevron-right {
  color: rgba(100, 100, 100, .2);
}

.glyphicon.glyphicon-chevron-left {
  color: rgba(100, 100, 100, .2);
}

.glyphicon.glyphicon-export {
  font-size: 8em;
}

.glyphicon.glyphicon-ok {
  font-size: 8em;
}

.glyphicon.glyphicon-bookmark {
  display: table-cell;
  text-align:center;
  font-size: 2em;
  color: maroon;
  margin: 0 auto;
}

.item {
  max-height: 80%;
}

.description {
  margin: auto;
  display: flex;
  max-width: 50%;
  text-align: center;
}

.nav-bar {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  background: black;
  height: 50px;
  margin-bottom: 4em;
  box-shadow: 3px 0 2px 2px rgba(179, 25, 25, 0.69);
}

.brand {
  display: table;
  max-width: 15%;
  height: 100%;
}

.brand-icon {
  width: 40%;
  text-align: center;
}

a.brand-title {
  border: 0;
  outline: none;
  font-size: 2em;
  vertical-align: middle;
  display: table-cell;
  width: auto;
  height: 100%;
  text-align: center;
  margin: auto 0;
  color: white;
  border: 2px solid black;
  -webkit-transition: border .4s;
  transition: border .4s;
}

a.brand-title:hover {
  text-decoration: none;
  border: 2px solid white;
  -webkit-transition: border .4s;
  transition: border .4s;
}

.user-links-container {
  display: table;
  width: auto;
  height: 100%;
  margin: 0;
  margin-left: auto;
  margin-right: 1em;
  text-align: right;
  font-size: small;
  color: white;
}

.user-links {
  display: table;
}

.user-links span {
  margin: auto 0;
}

.user-links a {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: white;
  border: 3px solid black;
  padding: .5em;
  margin: auto 0;
  width: auto;
}

.user-links a:hover {
  text-decoration: none;
  border: 3px solid white;
  -webkit-transition: .2s;
  transition: .2s;
}

.grid {
  position: relative;
  clear:both;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 80%;
  list-style: none;
  text-align: center;
  box-sizing: border-box;
}

.grid.half figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 2%;
  width: 46%;
  height: auto;
  background: rgba(0, 0, 0, .3);
}

.grid.third figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 2%;
  width: 29%;
  height: auto;
  background: rgba(0, 0, 0, .3);
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
  padding: 1.5em;
  color: white;
  text-transform: uppercase;
  font-size: 1.25em;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2,
.grid figure h4,
.grid figure p {
	margin: 0;
}

figure.figure-effect figcaption::before,
figure.figure-effect figcaption::after {
  pointer-events: none;
  position: absolute;
  width: 200%;
  height: 200%;
  border-style: solid;
  border-color: black;
  content: '';
  -webkit-transition: -webkit-transform .4s;
  transition: transform .4s;
}

figure.figure-effect figcaption::before {
  right: 0;
  bottom: 0;
  border-width: 0 60px 0 0;
  -webkit-transform: translate3d(60px, 40px, 0);
  transform: translate3d(60px, 40px, 0);
}

.grid.third figure.figure-effect figcaption::before {
  right: 0;
  bottom: 0;
  border-width: 0;
}

figure.figure-effect figcaption::after {
  top: 0;
  left: 0;
  border-width: 0 0 0 0;
  -webkit-transform: translate3d(-10px, -10px, 0);
  transform: translate3d(-10px, -10px, 0);
}

figure.figure-effect:hover figcaption::before {
  transform: translate3d(0, 0, 0);
}

figure.figure-effect:hover figcaption::after {
  transform: translate3d(0, 0, 0);
}

figure.figure-effect h2 {
  position: absolute;
  text-align: left;
  padding-left: .5em;
  transform: translate3d(15px, 0, 0);
  -webkit-transition: transform .4s;
  transition: transform .4s;
}

figure.figure-effect:hover h2 {
  transform: translate3d(0, 0, 0);
  border-left: 2px solid white;
  -webkit-transition: transform .4s;
  transition: transform .4s;
}

figure.figure-effect p {
  min-width: 10px;
  float: right;
  clear: both;
  text-align: right;
  transform: translate3d(40px, 0, 0);
  -webkit-transition: transform .4s;
  transition: transform .4s;
}

figure.figure-effect:hover p {
  transform: translate3d(0, 0, 0);
  -webkit-transition: transform .4s;
  transition: transform .4s;
}

figure.figure-effect p a {
  display: block;
  text-align: left;
  margin-bottom: 2em;
  min-height: 10px;
}

figure.figure-effect p a i {
  position: absolute;
  color: white;
}

figure.figure-effect p a i:hover {
  color: rgb(167, 0, 0);
}

a.submit-link {
  font-weight: bold;
  color: black;
  padding: 3px;
  border-right: 3px hidden;
  border-left: 3px hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}

a.submit-link:hover {
  text-decoration: none;
  border-right: 3px solid black;
  border-left: 3px solid black;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.topic-form {
  margin-bottom: 1em;
}

.topic-form .input-field {
  outline: none;
  border: 0;
  border-bottom: 3px solid rgba(0, 0, 0, .1);
  background: rgba(0, 0, 0, .1);
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.topic-form .input-label {
  opacity: 0;
  -webkit-transform: translate3d(-440px, 0, 0);
  transform: translate3d(-440px, 0, 0);
  -webkit-transition: transform .3s, opacity .3s;
  transition: transform .3s, opacity .3s;
}

.topic-form .input-field:focus {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  background: transparent;
}

.topic-form .input-field:focus + .input-label {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: transform .3s, opacity .3s;
  transition: transform .3s, opacity .3s;
}

.topic-form .actions a {
  background: transparent;
  border: 0;
  border-bottom: 2px solid rgba(1, 1, 1, .7);
  border-right: 3px solid rgba(1, 1, 1, 0);
  border-left: 3px solid rgba(1, 1, 1, 0);
  -webkit-transition: border .3s;
  transition: border .3s;
}

.topic-title {
  text-transform: capitalize;
  font-weight: bold;
}

div.tab {
  overflow: hidden;
  border-bottom: 1px solid maroon;
  background-color: rgba(0, 0, 0, .8);
}

div.tab button {
  border: none;
  outline: none;
  background: transparent;
  float: left;
  color: white;
  font-size: 1.5em;
  border-top: 3px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-style: solid;
  border-color: transparent;
}

div.tab button:hover {
  border-color: white;
}

div.tab button.active {
  background: rbga(0, 0, 0, .8);
  border-color: white;
}

.tabcontent {
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s; 
}

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.url-grid {
  background: rgba(0, 0, 0, .3);
  margin-bottom: 1em;
}

.url-grid a, i {
  color: white;
}